<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head.ejs %>
</head>
<body>
<% include ../../partials/sidebar.ejs %>

<header>
    <% include ../../partials/header.ejs %>
</header>

<main>
    <span id="_message" class="hide"><%if(flash.message){%><%=flash.message%><%}%></span>
    <div class="row">
        <div class="col s6 card" style="margin-left: 25%; padding: 40px;">
            <h5 style="text-align: center;
                border-bottom: 2px solid #f39304;
                padding-bottom: 20px;
                margin-top: -10px;">افزودن دسته بندی</h5>
            <form name="addCategory" id="addCategory" class="col s12"  method="post" action="/api/v1/categories/edit/<%=category._id%>" accept-charset="utf-8">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="machineName" id="machineName" type="text" class="validate" dir="rtl" value="<%=category.machineName%>" required>
                        <label for="machineName">نام ماشینی</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="name" id="name" type="text" class="validate" dir="rtl" value="<%=category.name%>" required>
                        <label for="name">نام</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <select name="wrapper" id="wrapper" class="validate" dir="rtl">
                            <option value="null">ندارد</option>
                            <%for(var i = 0; i < categories.length; i++) {%>
                            <%if(category._id.toString() != categories[i]._id.toString()){%>
                            <option value="<%=categories[i]._id%>" <%if(category.wrapper && category.wrapper.toString() == categories[i]._id.toString()){%>selected<%}%>><%=categories[i].name%></option>
                            <%}%>
                            <%}%>
                        </select>
                        <label for="wrapper">مرجع</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6" style="margin-left: 25%;">
                        <button type="submit" class="btn btn-lg btn-default" style="width: 100%; height: 45px;">ویرایش</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; left: 24px;">
        <a class="btn-floating btn-large pink waves-effect waves-light">
            <i class="large material-icons">add</i>
        </a>

        <ul>
            <li>
                <a class="btn-floating red"><i class="material-icons">person_add</i></a>
                <a href="/admin/categories/add" class="btn-floating fab-tip">افزودن کاربر</a>
            </li>

            <li>
                <a class="btn-floating yellow darken-1"><i class="material-icons">business_center</i></a>
                <a href="/admin/products/add" class="btn-floating fab-tip">افزودن محصول</a>
            </li>

            <li>
                <a class="btn-floating green"><i class="material-icons">comment</i></a>
                <a href="/admin/comments/new" class="btn-floating fab-tip">نظرات جدید</a>
            </li>

            <li>
                <a class="btn-floating blue"><i class="material-icons">vpn_key</i></a>
                <a href="/admin/changePassword" class="btn-floating fab-tip">تغییر کلمه عبور</a>
            </li>
        </ul>
    </div>
</main>

<script charset="utf-8">
    $(document).ready(function() {

        var $toastContent = $('#_message').text();
        Materialize.toast($toastContent, 5000);

        $('select').material_select();

    });
</script>
</body>
</html>